<div class="jumbotron">
	<div class="container">
		<h2>Admin Panel</h2>
		<h6>Manage users, schools, and advanced settings</h6>
	</div>
</div>
<div class="container">
	<ul class="nav nav-tabs" role="tablist">
		<li><a role="tab" data-toggle="tab" href="#users">Users</a></li>
		<li><a role="tab" data-toggle="tab" href="#schools">Schools</a></li>
		<li><a role="tab" data-toggle="tab" href="#rendering">Rendering</a></li>
		<li><a role="tab" data-toggle="tab" href="#settings">Settings</a></li>
		<li><a role="tab" data-toggle="tab" href="#console">Console</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="users">
			{{render "users" users}}
		</div>
		<div class="tab-pane" id="schools">
			{{render "schools" schools}}
		</div>
		<div class="tab-pane" id="rendering">
			{{render "rendering" template}}
		</div>
		<div class="tab-pane" id="settings">
			<a class="btn btn-default" {{action "deleteQuestionPhoto"}}>Delete Temporary Question Photos</a>
		</div>
		<div class="tab-pane" id="console">
			{{render "console"}}
		</div>
	</div>
</div>
<br /><br />