<div class="school-edit">
	<form role="form">
		<div class="input-group">
			<label>Name</label>
			<p class="form-control-static">{{name}}
				<a title="Delete School" href="" class="btn btn-danger btn-xs">Delete School</a>
			</p>
			<br/>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Subjects</label>
					{{view Ember.Select classNames="form-control" size="6" content=info.subjects optionLabelPath="content.code" selection=selectedSubject}}
					{{#if isAddingSubject}}
						<div class="input-group info-input">
							{{input class="form-control" placeholder="Subject Code" value=subject}}
							<span class="input-group-btn">
								<a title="Cancel" class="btn btn-default" {{action "cancelSubject"}}>
									<span class="glyphicon glyphicon-remove"></span>
								</a>
								<a title="Save" class="btn btn-default" {{action "saveSubject" subject}}>
									<span class="glyphicon glyphicon-ok"></span>
								</a>
							</span>
						</div>
					{{else}}
						<button class="btn btn-xs btn-success" {{action "addSubject"}}>Add Subject</button>
						<button class="btn btn-xs btn-danger" {{action "deleteSubject" selectedSubject}}>Delete Subject</button>
					{{/if}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Terms</label>
					{{view Ember.Select classNames="form-control" size="6" content=selectedSubject.terms optionLabelPath="content.name" selection=selectedTerm}}
					<button class="btn btn-xs btn-default">Add Term</button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Courses</label>
					{{view Ember.Select classNames="form-control" size="6" content=selectedTerm.courses optionLabelPath="content.number" selection=selectedCourse}}
					<button class="btn btn-xs btn-default">Add Course</button>
				</div>
			</div>
		</div>
	</form>
</div>