{{#if isEditing}}
<div class="school-edit">
	<form role="form">
		<div class="input-group">
			<label>Name</label>
			<p class="form-control-static">{{name}}
				<a title="Delete School" href="" class="btn btn-danger btn-xs" {{action "deleteSchool" model}}>Delete School</a>
			</p>
			<br/>
		</div>
		<div class="row">
			<div class="col-md-4 col-terms">
				<div class="form-group">
					<label>Terms</label>
					{{view Ember.Select classNames="form-control" size="6" content=info.terms optionLabelPath="content.name" selection=selectedTerm}}
					{{#if isAddingTerm}}
						<div class="input-group info-input">
							{{input class="form-control" placeholder="Term Name" value=term}}
							<span class="input-group-btn">
								<a title="Cancel" class="btn btn-default" {{action "cancelTerm"}}>
									<span class="glyphicon glyphicon-remove"></span>
								</a>
								<a title="Save" class="btn btn-default" {{action "saveTerm" term}}>
									<span class="glyphicon glyphicon-ok"></span>
								</a>
							</span>
						</div>
					{{else}}
						<button class="btn btn-xs btn-success" {{action "addTerm"}}>Add</button>
						<button class="btn btn-xs btn-danger" {{action "deleteTerm" selectedTerm}}>Delete</button>
					{{/if}}
				</div>
			</div>
			<div class="col-md-4 col-subjects">
				<div class="form-group">
					<label>Subjects</label>
					{{view Ember.Select classNames="form-control" size="6" content=selectedTerm.subjects optionLabelPath="content.name" selection=selectedSubject}}
					{{#if isAddingSubject}}
						<div class="input-group info-input">
							{{input class="form-control" placeholder="Subject Name" value=subject}}
							<span class="input-group-btn">
								<a title="Cancel" class="btn btn-default" {{action "cancelSubject"}}>
									<span class="glyphicon glyphicon-remove"></span>
								</a>
								<a title="Save" class="btn btn-default" {{action "saveSubject" subject}}>
									<span class="glyphicon glyphicon-ok"></span>
								</a>
							</span>
						</div>
					{{else}}
						<button class="btn btn-xs btn-success" {{action "addSubject"}}>Add</button>
						<button class="btn btn-xs btn-danger" {{action "deleteSubject" selectedSubject}}>Delete</button>
					{{/if}}
				</div>
			</div>
			<div class="col-md-4 col-courses">
				<div class="form-group">
					<label>Courses</label>
					{{view Ember.Select classNames="form-control" size="6" content=selectedSubject.courses optionLabelPath="content.number" selection=selectedCourse}}
					{{#if isAddingCourse}}
						<div class="input-group info-input">
							{{input class="form-control" placeholder="Course Number" value=course}}
							<span class="input-group-btn">
								<a title="Cancel" class="btn btn-default" {{action "cancelCourse"}}>
									<span class="glyphicon glyphicon-remove"></span>
								</a>
								<a title="Save" class="btn btn-default" {{action "saveCourse" course}}>
									<span class="glyphicon glyphicon-ok"></span>
								</a>
							</span>
						</div>
					{{else}}
						<button class="btn btn-xs btn-success" {{action "addCourse"}}>Add</button>
						<button class="btn btn-xs btn-danger" {{action "deleteCourse" selectedCourse}}>Delete</button>
					{{/if}}
				</div>
			</div>
		</div>
	</form>
</div>
{{/if}}