<div class="admin-schools row">
	<div class="col-md-3 left">
		<div class="panel panel-default">
		<ul class="nav nav-sidebar">
			{{#each school in controller}}
			{{#unless school.isNew}}
			<li {{bind-attr data-id=school.id}}>
				<a href="" {{action "select" school}}>{{school.name}}</a>
			</li>
			{{/unless}}
			{{/each}}
		</ul>
		</div>
		{{#if isAdding}}
		<p class="text-danger">{{school.errors.name}}</p>
		<div class="input-group">
			{{input class="form-control" placeholder="School Name" value=school.name}}
			<span class="input-group-btn">
				<a title="Cancel" class="btn btn-default" {{action "cancel"}}>
					<span class="glyphicon glyphicon-remove"></span>
				</a>
				<a title="Save" class="btn btn-default" {{action "save" school}}>
					<span class="glyphicon glyphicon-ok"></span>
				</a>
			</span>
		</div>
		{{/if}}
		{{#unless isAdding}}
		<button type="button" class="btn btn-success" {{action "add"}}>Add School</button>
		{{/unless}}
		<br/>
		<br/>
	</div>
	<div class="col-md-9 right">
		<div class="panel panel-default">
			<div class="panel-body">
				{{render "school.edit"}}
			</div>
		</div>
	</div>
</div>