<div class="admin-users">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="width:20%;">ID</th>
				<th style="width:6%;">Role</th>
				<th style="width:6%;">Power</th>
				<th>Username</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each user in controller}}
			{{#unless user.isNew}}
			<tr>
				<td>{{user.id}}</td>
				<td>{{user.role.name}}</td>
				<td>{{user.power}}</td>
				<td>{{user.username}}</td>
				<td>{{user.email}}</td>
				<td>
					{{#unless user.isAdmin}}
					<a title="Edit User" href=""><span class="glyphicon glyphicon-pencil"></span></a>
					<a title="Delete User" href=""><span class="glyphicon glyphicon-remove"></span></a>
					{{/unless}}
				</td>
			</tr>
			{{/unless}}
			{{/each}}
		</tbody>
	</table>
	<button class="btn btn-success" {{action "add"}}>Add User</button>
	<br/>
	<br/>
</div>
<!-- ADD USER -->
<div class="modal fade modal-admin-user">
	{{render "users.new"}}
</div><!-- /.modal -->