*.sublime-project
*.sublime-workspace
app/public/images/questions/*
app/public/images/questions/*/*
app/public/images/temp/questions/*
app/public/images/temp/questions/*/*
app/public/temp/questions/*
app/public/temp/questions/*/*
app/temp/pdfs/*.aux
app/temp/pdfs/*.log
app/temp/pdfs/*.pdf
app/temp/texs/*.tex
