*.sublime-project
*.sublime-workspace
app/public/images/questions/*
app/public/images/questions/*/*
app/public/images/temp/questions/*
app/public/images/temp/questions/*/*
app/public/temp/questions/*
app/public/temp/questions/*/*