.navbar-outer {
    min-width: 980px;
}

/* UNIVERSAL */
.blue {
    color: #196488;
}

#footer {
    background: #141213;
    color: #bfbfbf;
}


/* LAYOUT */
.fake-table {

}

.fake-table > div > span {
    display: block;
}

.fake-table > div > span:first-child {
    float: left;
}

.fake-table > div > span.info {
    margin-left: 150px;
}

/* ACCOUNT */
.form-signup, .form-login {
    padding: 0 100px;
}