<div class="container">
    <div class="row-fluid">
        <div class="span10 offset1 well">
            <h6>Login with your account:</h6>
            <hr />
            <form class="form-horizontal form-login">
                <div class="info-msg alert alert-success" style="display: none;">
                </div>
                <div class="warning-msg alert" style="display: none;">
                    <strong>Sorry! </strong>
                    <span class="warning-text"></span>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtEmail">Email / Username</label>
                    <div class="controls">
                        <input type="text" id="txtEmail" name="email" placeholder="Email or username" maxlength="255" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtPassword">Password</label>
                    <div class="controls">
                        <input type="password" id="txtPassword" name="password" placeholder="Password" maxlength="32" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-login">Log In</button>
                        &nbsp;
                        <a>Forgot your password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
            
