<div class="container">
    <div class="row-fluid">
        <div class="span10 offset1 well">
            <h6>Sign up for an account:</h6>
            <hr />
            <form class="form-horizontal form-signup">
                <div class="warning-msg alert" style="display:none;">
                    <strong>Sorry! </strong>
                    <span class="warning-text"></span>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtUsername">Username</label>
                    <div class="controls">
                        <input type="text" id="txtUsername" name="username" placeholder="Username" maxlength="32" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtEmail">Email</label>
                    <div class="controls">
                        <input type="text" id="txtEmail" name="email" placeholder="Email" maxlength="255" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtPassword">Password</label>
                    <div class="controls">
                        <input type="password" id="txtPassword" name="password" placeholder="Password" maxlength="32" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtConfirm">Confirm</label>
                    <div class="controls">
                        <input type="password" id="txtConfirm" name="confirm" placeholder="Confirm Password" maxlength="32" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="agree" />
                            I agree to <a href="/info#tos">terms of service</a> and
                            <a href="/info#policy">privacy policy</a>.
                        </label>
                        <br />
                        <button type="submit" class="btn btn-signup">Sign Up</button>
                        &nbsp;
                        <a href="#/login">Already a member?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
