<!DOCTYPE HTML>
<html>
    <head>
        <title>Admin - Alke</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
        <link rel="stylesheet" type="text/css" href="/css/admin.css"></link>
        <script data-main="/js/loaders/adminLoader" type="text/javascript" src="/js/libs/require.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <div id="holder">
            <div id="sidebar"></div>
            <div id="content" class="container-fluid well"></div>
        </div>
        <div id="footer"></div>
    </body>
</html>
