<!DOCTYPE HTML>
<html>
    <head>
        <title>Home - Alke</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
        <link rel="stylesheet" type="text/css" href="/css/home.css"></link>
        <script data-main="/js/loaders/homeLoader" type="text/javascript" src="/js/libs/require.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <div id="content"></div>
        <div id="footer"></div>
    </body>
</html>
