<div>
    <hr />
    <form class="form form-horizontal form-add-goal">
        <div class="control-group">
            <label class="control-label" for="inputTitle">Title</label>
            <div class="controls">
                <input type="text" name="inputTitle" id="inputTitle" placeholder="Title" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description</label>
            <div class="controls">
                <input type="text" name="inputDescription" id="inputDescription" placeholder="Description" />
            </div>
        </div>
        <!-- TODO: need to automatically generate the following based on server-side settings -->
        <div class="control-group">
            <label class="control-label">Type</label>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="inputType" id="inputType1" value="0" checked />
                    Progressable
                </label>
                <label class="radio inline">
                    <input type="radio" name="inputType" id="inputType2" value="1" />
                    One Stop
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputStart">Start</label>
            <div class="controls">
                <input type="text" name="inputStart" id="inputStart" placeholder="Start Time" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEnd">End</label>
            <div class="controls">
                <input type="text" name="inputEnd" id="inputEnd" placeholder="End Time" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputTarget">Target</label>
            <div class="controls">
                <input type="text" name="inputTarget" id="inputTarget" placeholder="Your Target" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProgress">Target</label>
            <div class="controls">
                <input type="text" name="inputProgress" id="inputProgress" placeholder="Current Progress" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary btn-small btn-goal-save">Save</button>
                <button type="button" class="btn btn-small btn-goal-cancel">Cancel</button>
            </div>
        </div>
    </form>
</div>