<div class="navbar-outer">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">MyGoals.me</a>

            <div class="pull-right">
                <form class="navbar-form">
                    <% if (auth) { %>
                        <button class="btn btn-logout" type="button">Log Out</button>
                    <% } else { %>
                        <a class="btn" href="/#account/login">Log In</a>
                        <a class="btn" href="/#account/signup">Sign Up</a>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
</div>
