body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.helper {
	font-size: 0.8em;
	color: #181818;
	font-weight: normal;
}

.container {
	width: 970px !important;
}

.nav-tabs {
	margin-bottom: 15px;
}

.login-page .text-danger {
	font-size: 0.85em;
}

.login-form {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
	z-index: 682;
	padding: 20px;
}

.login-form .form-bottom {
	height: 30px;
}

.login-form .btn-login {
	float: right;
}

.math-preview {
	border: 1px solid #ccc;
	padding: 6px 12px;
	margin-bottom: 5px;
	min-height: 34px;
}

.math-input {
	min-height: 100px;
	/*height: 200px;*/
	/*max-height: 200px;*/
	background-color: white;
	border-collapse: separate;
	border: 1px solid rgb(204, 204, 204);
	padding: 4px;
	box-sizing: content-box;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	/*overflow: scroll;*/
	outline: none;
}

.question-form .text-danger {
	font-size: 0.85em;
	margin: 0;
}

.question-form .help-block {
	font-size: 0.85em;
	margin-top: 2px;
	margin-bottom: 7px;
}

.question-list .text-muted {
	font-size: 0.8em;
	margin: 0;
}

.question-list {
	margin-top: 20px;
}



.modal-dialog {
	margin-top: 100px;
	width: 800px;
}

.modal .table td {
	vertical-align: middle;
}

.modal-admin-user .modal-dialog {
	width: 400px;
}

.modal-admin-user #form {
	margin: 0 20px;
}

.modal-admin-user .help-block {
	font-size: 0.85em;
}

.modal-admin-user-edit .modal-dialog {
	width: 800px;
}

.error-page {
	text-align: center;
}

.admin-schools .text-danger {
	font-size: 0.85em;
}

.admin-schools .nav-sidebar {
	font-size: 0.9em;
}

.admin-schools .nav-sidebar > .active > a {
	color: #fff;
	background-color: #428bca;
}

.admin-schools select {
	margin-bottom: 10px;
}

.admin-schools .info-input .form-control {
	font-size: 12px;
	height: 22px;
	padding: 2px 4px;
}

.admin-schools .info-input a.btn {
	padding: 0;
}

.admin-schools .right .panel-body {
	min-height: 306px;
}

.user-privileges table .form-control {
	padding: 2px 4px;
	height: 28px;
	font-size: 0.9em;
}

.user-privileges table td {
	font-size: 0.9em;
}

/* file upload */
.list-photo {
	border: 1px solid rgb(204, 204, 204);
	min-height: 106px;
	width: 100%;
	padding: 4px;
	margin-bottom: 10px;
	overflow: auto;
	white-space: nowrap;
}

.photo-holder {
	display: inline-block;
	position: relative;
}

.photo-holder .photo-delete {
	position: absolute;
	left: 2px;
}

.photo-holder a {
	cursor: pointer;
}

.modal-photo-preview .modal-body {
	text-align: center;
}

.last-modification {
	float: right;
}