<div class="jumbotron">
	<form role="form">
		<div {{bind-attr class=":form-group errors.username:has-error"}}>
			<label>Username</label>
			<p class="text-danger">{{errors.username}}</p>
			{{input class="form-control" name="username" value=username placeholder="Username"}}
		</div>
		<div {{bind-attr class=":form-group errors.password:has-error"}}>
			<label>Password</label>
			<p class="text-danger">{{errors.password}}</p>
			{{input class="form-control" name="password" type="password" value=password placeholder="Password"}}
		</div>
		<button class="btn btn-primary" {{action "login"}}>Login</button>
		{{#link-to "index" class="btn btn-default"}}Home{{/link-to}}
	</form>
</div>