<div class="jumbotron">
	<form role="form">
		<div {{bind-attr class=":form-group errors.firstName:has-error"}}>
			<label>First Name</label>
			{{input class="form-control" name="firstName" value=firstName placeholder="First Name"}}
		</div>
		<div {{bind-attr class=":form-group errors.lastName:has-error"}}>
			<label>Last Name</label>
			{{input class="form-control" name="lastName" value=lastName placeholder="Last Name"}}
		</div>
		<div {{bind-attr class=":form-group errors.username:has-error"}}>
			<label>Username</label>
			{{input class="form-control" name="username" value=username placeholder="Username"}}
		</div>
		<div {{bind-attr class=":form-group errors.password:has-error"}}>
			<label>Password</label>
			{{input class="form-control" name="password" type="password" value=password placeholder="Password"}}
		</div>
		<div {{bind-attr class=":form-group errors.confirm:has-error"}}>
			<label>Confirm Password</label>
			<p class="text-danger">{{errors.confirm}}</p>
			{{input class="form-control" name="confirm" type="password" value=confirm placeholder="Confirm Password"}}
		</div>
		<button class="btn btn-primary" {{action "signup"}}>Signup</button>
		{{#link-to "index" class="btn btn-default"}}Home{{/link-to}}
	</form>

</div>