<div class="jumbotron">
	<div class="container">
		<h2>Add New Question</h2>
		<br/>
		<div>
			<form role="form" class="question-form">
				<div class="form-group">
					<label>School</label>
					{{view Ember.Select classNames="form-control" content=schools optionLabelPath="content.name" selection=question.school}}
				</div>
				<div class="form-group">
					<label>Subject</label>
					{{view Ember.Select classNames="form-control" content=subjects optionLabelPath="content.code" selection=question.subject}}
				</div>
				<div class="form-group">
					<label>Term</label>
					{{view Ember.Select classNames="form-control" content=terms optionLabelPath="content.name" selection=question.term}}
				</div>
				<div class="form-group">
					<label>Course</label>
					{{view Ember.Select classNames="form-control" content=courses optionLabelPath="content.number" selection=question.course}}
				</div>
				<div class="form-group">
					<label>Difficulty</label>
					{{view Ember.Select classNames="form-control" content=difficulties selection=question.difficulty}}
				</div>
				<div class="form-group">
					<label>Note</label>
					{{input name="note" class="form-control" value=question.note}}
				</div>
				<div class="form-group">
					<label>Tags</label>
					{{input name="tags" class="form-control" value=question.tags}}
				</div>
				<div class="form-group">
					<label>Question</label>
					<p class="text-danger">{{question.errors.question}}</p>
					<div id="question-preview" class="math-preview"></div>
					<div id="question-input" class="math-input"></div>
				</div>
				<div class="form-group">
					<label>Hint</label>
					<div id="hint-preview" class="math-preview"></div>
					<div id="hint-input" class="math-input"></div>
				</div>
				<div class="form-group">
					<label>Solution</label>
					<div id="solution-preview" class="math-preview"></div>
					<div id="solution-input" class="math-input"></div>
				</div>
				<div class="form-group">
					<label>Summary</label>
					<div id="summary-preview" class="math-preview"></div>
					<div id="summary-input" class="math-input"></div>
				</div>
				<div class="form-group">
					<p class="text-danger">{{question.errors.question}}</p>
				</div>
				<button type="submit" class="btn btn-primary" {{action "add"}}>Add</button>
			</form>
		</div>
	</div>
</div>