<div class="jumbotron">
	<div class="container">
		<h2>Question Selector</h2>
		<h6>Select questions based on certain criteria</h6>
	</div>
</div>
<div class="container">
	{{#link-to "questions.new" class="btn btn-success"}}Add New{{/link-to}}
	<hr />
	<h5 class="text-center">Search Criteria</h5>
	<div class="search-box">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>School</label>
					{{view Ember.Select classNames="form-control" content=schools optionLabelPath="content.name" selection=school}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Subject</label>
					{{view Ember.Select classNames="form-control" content=subjects optionLabelPath="content.name" selection=subject}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Course</label>
					{{view Ember.Select classNames="form-control" content=courses optionLabelPath="content.number" selection=course}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label>Type</label>
				<form class="form-inline">
					<div class="form-group">
						{{view Ember.Select classNames="form-control" content=terms selection=term}}
						{{view Ember.Select classNames="form-control" content=types selection=type}}
						<button class="btn btn-success" type="button" {{action "addTypeTag"}}>&gt;</button>
					</div>
				</form>
			</div>
			<div class="col-md-8">
				<label>Tags</label>
				<input type="text" id="type-tags" name="type-tags" class="form-control" />
			</div>
		</div>
	</div>
	<br />
	<div class="text-center">
		<button class="btn btn-default" type="button" {{action "search"}}><span class="glyphicon glyphicon-search"></span> Search</button>
	</div>
	<hr />
	{{#if questions.length}}
		{{render "pager" paging}}
	{{/if}}
	{{#each question in questions}}
		{{#view "questionSelectItem"}}
			{{#unless question.isNew}}
			{{#unless isHidden}}
				<div class="question-select-item">
					<table class="table table-bordered">
						<tr>
							<td style="width:20%;">
								{{question.id}}
							</td>
							<td style="width:18%;">
								{{question.school.name}}
							</td>
							<td style="width:10%;">
								{{question.subject}}
							</td>
							<td style="width:10%;">
								{{question.course}}
							</td>
							<td>
								{{question.typeTags}}
							</td>
						</tr>
						<tr>
							<td colspan="5">
								<div class="question-preview">
									{{{question.question}}}
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="5">
								Select
							</td>
						</tr>
					</table>
				</div>
			{{/unless}}
			{{/unless}}
		{{/view}}
	{{/each}}
	{{#if questions.length}}
		
	{{/if}}
</div>
<br/>
<br/>
<br/>