<div class="jumbotron">
	<div class="container">
		<h2>Review Question</h2>
		<h6>Review an existing question without editing it</h6>
	</div>
</div>
<div class="container">
	<form class="question-form">
		<div class="row">
			<div class="col-md-3 left">
				<div class="form-group">
					<label>ID</label>
					<p class="help-block">{{id}}</p>
				</div>
				<div class="form-group">
					<label>School</label>
					<p class="help-block">{{school.name}}</p>
				</div>
				<div class="form-group">
					<label>Term</label>
					<p class="help-block">{{term}}</p>
				</div>
				<div class="form-group">
					<label>Subject</label>
					<p class="help-block">{{subject}}</p>
				</div>
				<div class="form-group">
					<label>Course</label>
					<p class="help-block">{{course}}</p>
				</div>
				<div class="form-group">
					<label>Difficulty</label>
					<p class="help-block">{{difficulty}}</p>
				</div>
				<div class="form-group">
					<label>Type</label>
					<p class="help-block">{{type}}</p>
				</div>
				<div class="form-group">
					<label>Note</label>
					<p class="help-block">{{note}}</p>
				</div>
				<div class="form-group">
					<label>Tags</label>
					<p class="help-block">{{tags}}</p>
				</div>
				<button type="button" class="btn btn-default" {{action "back"}}>Back</button>
			</div>
			<div class="col-md-9 right">
				<div class="form-group">
					<label>Photos</label>
					{{photo-upload question=model destination=uploadLink hidden="true" readonly="true"}}
				</div>
				<div class="form-group">
					<label>Question</label>
					<div id="question-preview" class="math-preview"></div>
				</div>
				<div class="form-group">
					<label>Hint</label>
					<div id="hint-preview" class="math-preview"></div>
				</div>
				<div class="form-group">
					<label>Solution</label>
					<div id="solution-preview" class="math-preview"></div>
				</div>
				<div class="form-group">
					<label>Summary</label>
					<div id="summary-preview" class="math-preview"></div>
				</div>
				<button type="button" class="btn btn-default" {{action "back"}}>Back</button>
			</div>
		</div>
	</form>
</div>