<div class="jumbotron">
	<div class="container">
		<h2>Questions</h2>
		<div>
			{{#link-to "questions.new" class="btn btn-success"}}Add New{{/link-to}}
		</div>
		<br/>
		<div>
			<table class="table table-bordered question-list">
				<thead>
					<tr>
						<th style="width:200px;">School</th>
						<th style="width:100px;">Term</th>
						<th style="width:100px;">Subject</th>
						<th style="width:100px;">Course</th>
						<th style="width:250px;">Note</th>
						<th style="width:60px;">Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{{#each question in controller}}
						{{#unless question.isNew}}
							<tr>
								<td>
									{{question.school.name}}
								</td>
								<td>
									{{question.term}}
								</td>
								<td>
									{{question.subject}}
								</td>
								<td>
									{{question.course}}
								</td>
								<td>
									{{question.note}}
								</td>
								<td>
									{{#if question.flag}}
										<a title="OK"><span class="glyphicon glyphicon-ok"></span></a>
									{{else}}
										<a title="To Be Removed"><span class="glyphicon glyphicon-remove"></span></a>
									{{/if}}
								</td>
								<td>
									
									<a title="View Question" href="" {{action "view" question}}><span class="glyphicon glyphicon-search"></span></a>
									{{#link-to "question.edit" question title="Edit Question"}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
									<!-- CANNOt DELETE FOR NOW -->
									<!--
									<a title="Delete Question" href="" {{action "delete" question}}><span class="glyphicon glyphicon-remove"></span></a>
									-->
								</td>
							</tr>
						{{/unless}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h6>{{preview.school.name}}, {{preview.term}}, {{preview.subject}} {{preview.course}}</h6>
        <h4 class="modal-title">Question ID: {{preview.id}}</h4>
      </div>
      <div class="modal-body">
      	<div class="well">
      			Type: {{preview.type}}
      			<br/>
      			Difficulty: 
      			{{#if preview.difficulty}}
      				{{preview.difficulty}}
      			{{else}}
      				TBD
      			{{/if}}
      			<br/>
      			Tags: {{preview.tags}}
      			<br/>
      			Note: {{preview.note}}
      	</div>
      	<div id="modal-math">
      		<h5 class="page-header">Question</h5>
      		<div id="question-view"></div>
      		<h5 class="page-header">Hint</h5>
      		<div id="hint-view"></div>
      		<h5 class="page-header">Solution</h5>
      		<div id="solution-view"></div>
      		<h5 class="page-header">Summary</h5>
      		<div id="summary-view"></div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->