<div class="jumbotron">
	<div class="container">
		<h2>Edit Question</h2>
		<h6>Edit an existing question</h6>
	</div>
</div>
<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label>ID</label>
					<p class="help-block">{{question_fake.id}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>School</label>
					{{view Ember.Select classNames="form-control" content=schools optionLabelPath="content.name" selection=question_fake.school}}
				</div>
				<div class="form-group">
					<label>Subject</label>
					{{view Ember.Select classNames="form-control" content=subjects optionLabelPath="content.name" selection=question_fake.subject}}
				</div>
				<div class="form-group">
					<label>Course</label>
					{{view Ember.Select classNames="form-control" content=courses optionLabelPath="content.number" selection=question_fake.course}}
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<label>Type Information</label>
						<form class="form-inline form-type-info">
							<div class="form-group">
								{{view Ember.Select classNames="form-control input-group-select" content=terms selection=selectedTerm}}
								{{view Ember.Select classNames="form-control input-group-select" content=types selection=selectedType}}
								<button class="btn btn-success" type="button" {{action "addTypeTag"}}>Add Type Tag &gt;</button>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<label>Type Tags</label>
						{{input id="type-tags" name="type-tags" value=question_fake.typeTags}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>
								Difficulty
								<span class="helper">
									(1 - Easiest, 5 - Hardest)
								</span>
							</label>
							{{view Ember.Select classNames="form-control" prompt="TBD" content=difficulties selection=question_fake.difficulty}}
						</div>
						<div class="form-group">
							<label>Note</label>
							{{input name="note" class="form-control" value=question_fake.note}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Other Tags</label>
							{{input id="tags" name="tags" value=question_fake.tags}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label>Photos</label>
					{{photo-upload question=question_fake destination=uploadLink hidden="true" edit="true"}}
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Question Input</label>
					<span class="last-modification">Last modified at {{display-time "MMM Do YY, h:mm a" question_fake.questionLastModifiedTime}} by {{question_fake.questionLastEditor}}</span>
					<div id="question-input" class="math-input math-input-tall">
						{{{unbound question_fake.question}}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Question Preview</label>
					<div id="question-preview" class="math-preview"></div>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Hint Input</label>
					<span class="last-modification">Last modified at {{display-time "MMM Do YY, h:mm a" question_fake.hintLastModifiedTime}} by {{question_fake.hintLastEditor}}</span>
					<div id="hint-input" class="math-input math-input-short">
						{{{unbound question_fake.hint}}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Hint Preview</label>
					<div id="hint-preview" class="math-preview"></div>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Solution Input</label>
					<span class="last-modification">Last modified at {{display-time "MMM Do YY, h:mm a" question_fake.solutionLastModifiedTime}} by {{question_fake.solutionLastEditor}}</span>
					<div id="solution-input" class="math-input math-input-tall">
						{{{unbound question_fake.solution}}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Solution Preview</label>
					<div id="solution-preview" class="math-preview"></div>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Summary Input</label>
					<span class="last-modification">Last modified at {{display-time "MMM Do YY, h:mm a" question_fake.summaryLastModifiedTime}} by {{question_fake.summaryLastEditor}}</span>
					<div id="summary-input" class="math-input math-input-short">
						{{{unbound question_fake.summary}}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Summary Preview</label>
					<div id="summary-preview" class="math-preview"></div>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" {{action "save"}}>Save</button>
		<br />
		<br />
</div>