<div class="jumbotron">
	<div class="container">
		<h2>Questions</h2>
		<h6>View and manage questions</h6>
	</div>
</div>
<div class="container">
	<!--
	{{#link-to "questions.new" class="btn btn-success"}}Add New{{/link-to}}
	-->
	<table class="table table-bordered question-list">
		<thead>
			<tr>
				<th style="width:200px;">School</th>
				<th style="width:100px;">Term</th>
				<th style="width:100px;">Subject</th>
				<th style="width:100px;">Course</th>
				<th style="width:250px;">Note</th>
				<th style="width:60px;">Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each question in controller}}
			{{#unless question.isNew}}
			{{#unless question.isHidden}}
			<tr>
				<td>
					{{question.school.name}}
				</td>
				<td>
					{{question.term}}
				</td>
				<td>
					{{question.subject}}
				</td>
				<td>
					{{question.course}}
				</td>
				<td>
					{{question.note}}
				</td>
				<td>
					{{#if question.flag}}
					<a title="OK"><span class="glyphicon glyphicon-ok"></span></a>
					{{else}}
					<a title="To Be Removed"><span class="glyphicon glyphicon-remove"></span></a>
					{{/if}}
				</td>
				<td>
					{{#link-to "question.index" question title="Review Question"}}<span class="glyphicon glyphicon-search"></span>{{/link-to}}
					{{#link-to "question.edit" question title="Edit Question"}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
					<!-- This is not a real delete, it only changes the flag of question, the question will still persist in the database -->
					<a title="Delete Question" href="" {{action "delete" question}}>
						<span class="glyphicon glyphicon-remove"></span>
					</a>
					
				</td>
			</tr>
			{{/unless}}
			{{/unless}}
			{{/each}}
		</tbody>
	</table>
	{{#link-to "questions.new" class="btn btn-success"}}Add New{{/link-to}}
	<br/>
	<br/>
</div>