<div class="jumbotron">
	<div class="container">
		<h2>Question Selector</h2>
		<h6>Select questions based on certain criteria</h6>
	</div>
</div>
<div class="container">
	{{#link-to "questions.new" class="btn btn-success"}}Add New{{/link-to}}
	<hr />
		<h5 class="text-center">Search Criteria</h5>
	<div class="text-center">
		<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> Search</button>
	</div>
	<hr />
	<nav class="text-right">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">{{paging.pages.one}}</a></li>
	    <li><a href="#">{{paging.pages.two}}</a></li>
	    <li><a href="#">{{paging.pages.three}}</a></li>
	    <li><a href="#">{{paging.pages.four}}</a></li>
	    <li><a href="#">{{paging.pages.five}}</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	{{#each question in controller}}
		{{#unless question.isNew}}
		{{#unless question.isHidden}}
			<div class="question-select-item">
				<table class="table table-bordered">
					<tr>
						<td>
							{{question.school.name}}
						</td>
						<td>
							{{question.subject}}
						</td>
						<td>
							{{question.course}}
						</td>
						<td>
							{{question.typeTags}}
						</td>
						<td>
							{{question.id}}
						</td>
					</tr>
					<tr>
						<td colspan="5">
							<div class="question-preview">
								{{{question.question}}}
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="5">
							Select
						</td>
					</tr>
				</table>
			</div>
		{{/unless}}
		{{/unless}}
	{{/each}}
	<nav class="text-right">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous" {{action "previous"}}>
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#" {{action "jump" paging.pages.one}}>{{paging.pages.one}}</a></li>
	    <li><a href="#" {{action "jump" paging.pages.two}}>{{paging.pages.two}}</a></li>
	    <li><a href="#" {{action "jump" paging.pages.three}}>{{paging.pages.three}}</a></li>
	    <li><a href="#" {{action "jump" paging.pages.four}}>{{paging.pages.four}}</a></li>
	    <li><a href="#" {{action "jump" paging.pages.five}}>{{paging.pages.five}}</a></li>
	    <li>
	      <a href="#" aria-label="Next" {{action "next"}}>
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
<br/>
<br/>
<br/>