<div class="jumbotron">
	<div class="container">
		<h2>Tests Review</h2>
		<h6>Review tests before making them available to use</h6>
	</div>
</div>
<div class="container tests-review-holder">
	<div class="row">
		<div class="col-md-4">
			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					{{#each tab in tabs}}
						<li role="presentation" {{bind-attr class="tab.active:active"}}><a {{bind-attr href=tab.link}} {{bind-attr aria-controls=tab.id}} role="tab" data-toggle="tab" {{action "switch" tab.test}}>{{tab.name}}</a></li>
					{{/each}}
				</ul>
				<div class="tab-content">
					{{#each tab in tabs}}
						<div role="tabpanel" {{bind-attr class=":tab-pane tab.active:active"}} {{bind-attr id=tab.id}}>
							<div class="form-group">
								<label>Name</label>
								{{input class="form-control" value=tab.test.name}}
							</div>
							<div class="form-group">
								<label>Note</label>
								{{input class="form-control" value=tab.test.note}}
							</div>
							<div class="form-group">
								<label>Subject</label>
								{{input class="form-control" value=tab.test.subject disabled="true"}}
							</div>
							<div class="form-group">
								<label>Course</label>
								{{input class="form-control" value=tab.test.course disabled="true"}}
							</div>
							<button class="btn btn-primary" {{action "publish" tab.test}}>Publish</button>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<!-- HERE we have a list view of all the questions in the test -->
			<div class="test-settings">
				<h4>Settings</h4>
			</div>
			<hr/>
			<div class="questions-list">
				<h4>Questions</h4>
			{{#each question in test.questions}}
			{{#view "questionItem"}}
				<div class="test-review-item">
					<table class="table table-bordered">
						<tr>
							<td style="width:40%;">
								{{question._id}}
							</td>
							<td style="width:20%;">
								{{question.subject}}
							</td>
							<td style="width:20%;">
								{{question.course}}
							</td>
							<td>
								No. {{question.number}}
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<h5>Question</h5>
								<div class="question-preview">
									{{{question.question}}}
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<h5>Solution</h5>
								<div class="solution-preview">
									{{{question.solution}}}
								</div>
							</td>
						</tr>
					</table>
				</div>
			{{/view}}
			{{/each}}
			</div>
		</div>
	</div>
</div>