<div class="jumbotron">
	<div class="container">
		<h2>Tests</h2>
		<h6>View and manage tests</h6>
	</div>
</div>
<div class="container">
	{{#link-to "questions.select" class="btn btn-success"}}Create New Test{{/link-to}}
	<p class="help-block">Both published and unpublished tests are listed here.</p>
	{{#if model.length}}
	<table class="table table-bordered table-tests">
		<tbody>
			<tr>
				<th style="width:35%;">Name</th>
				<th style="width:10%;">Subject</th>
				<th style="width:10%;">Number</th>
				<th style="width:15%;">Creator</th>
				<th>Options</th>
			</tr>
			{{#each test in controller}}
				<tr>
					<td>{{test.name}}</td>
					<td>{{test.subject}}</td>
					<td>{{test.course}}</td>
					<td>{{test.creator.username}}</td>
					<td>
						{{#if test.public}}
							<button class="btn btn-xs btn-success" {{action "review" test}}>Review</button>
							<button class="btn btn-xs btn-default" {{action "republish" test}}>Republish</button>
							<a class="btn btn-xs btn-primary" {{bind-attr href=test.downloadPath}}>Download PDF</a>
						{{else}}
							<button class="btn btn-xs btn-success" {{action "review" test}}>Review/Publish</button>
						{{/if}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	{{/if}}
</div>
<br/>
<br/>
<br/>